<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>


  <ion-index-list [hasTop]="true" >
    <div top>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list style="margin-bottom: 0px;">
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          新的朋友
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          群聊
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          标签
        </ion-item>
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          公众号
        </ion-item>
      </ion-list>
    </div>
    <ng-container *ngFor="let i of indexs">
      <ion-index-section [index] = "i">
        <ng-container *ngFor="let section of sections">
          <ion-index-cell >
            section
          </ion-index-cell>
        </ng-container>

      </ion-index-section>
    </ng-container>


  </ion-index-list>

</ion-content>
